body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: #04202B;
	text-align: center;

	background-color: #fff;
}

main {
	z-index: 1;
	max-width: 700px;
	margin: 50vh auto 0;
	line-height: 2;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

main:after {
	content: '';
	z-index: -1;
	position: absolute;
	top: -0.5em;
	right: -0.6em;
	bottom: -0.5em;
	left: -0.6em;
	background-color: hsl(350, 75%, 50%);
}

main:after, h1 {
	-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

h1 {
	font-size: 4em;
	padding: 2.4em 0;
	background-color: #fff;
}

a {
	color: #3E879E;
}