body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: #04202B;
	text-align: center;
	background-color: #f9f9f9;
}

main {
	z-index: 1;
	max-width: 700px;
	margin: 50vh auto 0;
	line-height: 2;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

main:after {
	content: '';
	z-index: -1;
	position: absolute;
	top: -0.5em;
	right: -0.6em;
	bottom: -0.5em;
	left: -0.6em;
	background-color: hsl(350, 85%, 80%);
}

main:after, h1 {
	-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

h1 {
	font-size: 4em;
	padding: 2.4em 0;
	background-color: #fff;
}

a {
	font-size: 1.2em;
	padding: .4em .2em .1em;
	color: hsl(190, 90%, 20%);
	background-color: hsl(350, 85%, 95%);
	text-decoration: none;
}

a:hover {
	color: hsl(190, 90%, 10%);
	background-color: hsl(350, 85%, 85%);
}

ul {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
}

li {
	line-height: 1.7 ;
	list-style: none;
	text-align: left;
}