body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: hsl(3, 70%, 60%);
	text-align: center;

	background-color: hsl(23, 60%, 83%);
	background-image:
		linear-gradient(45deg, hsl(23, 60%, 85%) 25%, transparent 0),
		linear-gradient(45deg, transparent 75%, hsl(23, 60%, 85%) 0);
	background-size: 60px 60px;
	background-position: 10px 10px, 40px 40px;
}

main {
	max-width: 700px;
	margin: 50vh auto 0;
	line-height: 2;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

main:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: hsla(0, 0%, 100%, 0.5);
	-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

h1 {
	font-size: 4em;
	padding: 2em 0;
}

div {
	font-size: 0.72em;
}

a {
	box-sizing: border-box;
	display: block;
	position: absolute;
	line-height: 5em;
	height: 10em;
	width: 15em;
	font-weight: 600;
	font-size: 1.4em;
	text-decoration: none;
	color: hsla(0, 100%, 100%, 0.8);
	background-color: hsla(3, 70%, 60%, 0.8);
	-webkit-transition: transform 0.2s ease-in-out;
}


a:hover {
	color: #fff;
}


a:first-child, a:nth-child(2) {
	top: 0;
}

a:nth-child(3), a:last-child {
	line-height: 15em;
	bottom: 0;
}

a:nth-child(2), a:last-child {
	text-align: right;
	padding-right: 2em;
	right: 5%;
}

a:first-child, a:nth-child(3) {
	text-align: left;
	padding-left: 2em;
	left: 5%;
}

@media (min-width: 700px) {
	a:first-child {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 14%, 0 95%);
		clip-path: polygon(0 0, 100% 0, 100% 15%, 0 95%);
	}

	a:nth-child(2) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 15%);
		clip-path: polygon(0 0, 100% 0, 100% 95%, 0 15%);
	}

	a:nth-child(3) {
		-webkit-clip-path: polygon(0 5%, 100% 85%, 100% 100%, 0 100%);
		clip-path: polygon(0 5%, 100% 85%, 100% 100%, 0 100%);
	}

	a:last-child {
		-webkit-clip-path: polygon(0 85%, 100% 5%, 100% 100%, 0 100%);
		clip-path: polygon(0 85%, 100% 5%, 100% 100%, 0 100%);
	}

	a:hover {
		transform: scale(1.05);
	}
}
